/checkpoints/*

/videos/*
action_pkl/*
frame_label_text_human_bbox/*
action_pkl_completed/*
checkpoints/*
public/*
clip_frame/*
public.pub/*
__pycache__/*
collective_action/*
Video-Action-Transformer-Network-Pytorch--master.zip
